.page {
	position: absolute;
	top: 8%;
	left: 0;
	right: 0;
	bottom: 1%;
	overflow-y: scroll;
}

#left_size {
	position: relative;
	padding-left: 1%;
	padding-right: 1%;
	width: 45%;
	float: left;
}

#right_size {
	position: relative;
	padding-left: 1%;
	padding-right: 1%;
	width: 45%;
	float: right;
}

#form_table_validator {
	margin-left: 0.5em;
}

.form_label {
	color: gray;
	font-family: Aller;
	font-size: 1em;
	text-align: left;
	width: 10em;
}

#form_table {
	margin-left: auto;
	margin-right: auto;
}

#submit_btn {
	background-color: white !important;
	color: #8cd200 !important;
	border: 1px solid #8cd200 !important;
	width: 155px !important;
	height: 40px !important;
	right: auto;
	margin-top: 1em;
	float: right;
	margin-right: 155px;
}

#submit_btn:hover {
	color: white !important;
	background-color: #8cd200 !important;
	cursor: pointer;
}

#table_form {
	
}

/** ESTILOS PARA GOOGLE MAPS ***/
#map-canvas {
	/*height: 45%;*/
	height: 450px;
	width: 99%;
	margin: 0px;
	padding: 0px;
	margin-top: 5%;
}

.controls {
	margin-top: 1em;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#pac-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px; /* Regular padding-left + 1. */
	width: 401px;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}

/**ESTILOS PARA LAS FOTOS DE LOCAL*/
#pics_container {
	position: absolute;
	top: 0;
	right: 1.5em;
	width: 10em;
}

.local_img {
	width: 10em;
	height: 10em;
	border: 1px solid #ececec;
}

.local_img:hover {
	opacity: 0.5;
	cursor: pointer;
}

/** right_size TABLE */
.table_container {
	width: 95%;
	padding-left: 2%;
	padding-right: 2%;
	position: relative;
	overflow-y: scroll;
	border: 1px solid #c8c8c8;
	-moz-box-shadow: inset 0 0 1em #c8c8c8;
	-webkit-box-shadow: inset 0 0 1em #c8c8c8;
	box-shadow: inset 0 0 1em #c8c8c8;
}

table {
	font-family: Aller;
}

.table_container th {
	text-align: center;
	vertical-align: middle;
}

.table_container td {
	text-align: center;
	vertical-align: middle;
}

.table_container tr {
	height: 2em;
	border: 1px solid #c8c8c8;
}

.table_container tbody tr:hover {
	cursor: pointer;
	background-color: #e5e5e5;
}

._4L {
	width: 10%;
}

._2L {
	width: 7%;
}

._10L {
	width: 30%;
}

.list_selected_item {
	background-color: rgb(140, 140, 140) !important;
}

.profile_span {
	color: gray;
	font-size: 0.75em;
	margin-left: 0.85em;
}

.profile_span i {
	margin-left: 0.25em;
}

.local_img {
	width: 175px;
	height: 98px;
	border: 1px solid #ececec;
}

/**** ZONA DE CONSULTAS *********/
#viewallTable {
	overflow: hidden;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#viewallTable table {
	margin: 0 auto;
}

.w100{
	width: 100%;
}

.w60{
	width: 60%;
}

.w20{
	width: 20%;
}

.w50{
	width: 50%;
}

.w5{
	width: 5%;
}

.w25{
	width: 25%;
}

.w10{
	width: 10%;
}

.report thead{
	color: white;
	background-color: rgb(0, 234, 39);
}

.report tr th{
	padding: 0.5em;
}

.report tr td{
		padding: 0.5em;
	
}

.centered{
	text-align: center;
}

.color_gray_clear{
	background-color:#ececec;
}

.color_green{
	color: white;
	background-color: rgb(0, 234, 39);
}

.report_subtitle{
	padding: 1em;
}

.margined{
	margin-left: 1em;
	margin-right: 1em;
}

.msg_ok{
	background:rgb(0, 234, 39)  url(../img/info.png) no-repeat 10px 50%;
	padding: 10px 5px 10px 5px;
	border: 0 none;
	  margin: 10px auto;
	  width: 96%;	
}