@CHARSET "ISO-8859-1";

#contact_box {
	height: 5%;
	background: #fca829;
	position: absolute;
	top: 92%;
	right: 1em;
	display: table;
	cursor: pointer;
	border-radius: 15px 15px 0 0;
	padding-left: 0.3em;
	padding-right: 0.3em;
	
}

#contact_box:hover {
	opacity: 1;
}

#contact_box img {
	padding-left: 5px;
	padding-right: 5px;
}

#letter_wrapper{
	
	position: relative;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	
}

#contact_box p {
	display: table-cell;
	vertical-align: middle;
	color: white;
	white-space: nowrap;
	
}

.ui-widget-header {
	background: none;
	background-color: rgb(0, 234, 39);
}

fieldset {
	border: none
}

#send_mail_btn {
	background-color: white !important;
	color: #8cd200 !important;
	border: 1px solid #8cd200 !important;
	width: 155px !important;
	height: 40px !important;
	margin-top: 15px;
	margin-right: 30%;
	margin-left: 30%;
	cursor: pointer;
}

#send_mail_btn:hover{
	color: white !important;
	background-color: #8cd200 !important;
}

.cmxform{
	margin-top: 5%;
}

#commentForm input{
	width: 100%;
	height: 35px;
}

.cmxform textarea{

	resize: none;
	width: 100%;
	padding: 10px;
	font-size: 10pt;
}




/* --------------------------------------------------------- */
/* COMPUTERS / OTHER DEVICES ------------------------------- */
/* --------------------------------------------------------- */
 
/* Displays/Screens (e.g. MacBook @ 1280x800) -------------- */
@media
only screen and (min-width: 1250px) and (max-width: 1409px) {
    /* YOUR STYLES */
   legend{
   	font-size: 1em;
   }
   
   #commentForm input{
	height: 30px;
   }
   
   .contact_form_select{
   	height: 30px;
   }
}
