@CHARSET "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********GLOBAL STYLES FOR ALL DEVICES  **********************/
@font-face {
	font-family: Aller;
	src: url('../fonts/Aller_Rg.ttf') format('truetype');
}

@font-face {
	font-family: Aller;
	src: url("../fonts/Aller_Rg.eot") /* EOT file for IE */
}

@font-face {
	font-family: Aller;
	src: url("../fonts/Aller_Rg.woff") /* EOT file for FF */
}

@font-face {
	font-family: Arista;
	src: url('../fonts/Arista2.0_light.ttf') format('truetype');
}

h1,h2,h3,h4,p,li,label,a,input,select,textarea,button,span,th,td{
	font-family: Aller;
}

/*SIZES*/

p{
	font-size:0.875em;
}

h1{
	font-size:1.5em
}
input{
	font-size: 1em;
	padding: 0.15em;
	border: 1px solid #8cd200;
}

/*COLORS*/
.font_green{
	color: #8cd200;
}

.font_white{
	color: white;
}
.font_gray{
	color: gray !important;
}

.color_gray{
	background-color: 	gray !important;
}

label.error{
	color:red;
}

/** BASIC ELEMENTS */

textarea, select,input:focus {
	outline: none !important;
	border: 1px solid gray;
}

select {
	background-color: white;
	color: black;
	font-size: 1em;
	padding: 0.3em;
	border: 1px solid #8cd200;
}

textarea {
	resize: none;
	width: 310px;
	padding: 0.75em;
	font-family: Aller;
	font-size: 1em;
	border: 1px solid #8cd200;
}

button:hover {
	cursor: pointer;
}

button[disabled]:hover {
	cursor: auto;
}

select:disabled {
	opacity: 0.5;
}

input:disabled {
	opacity: 0.5;
}

button:disabled {
	opacity: 0.5;
}

input[type="number"] {
    max-width: 75px;
}

#footer {
	left: 0;
	bottom: 0;
}

#footer h4 {
	margin-left: 0.5em;
	margin-top: 0;
	margin-bottom: 0;
	color: #000;
}

.nav_section {
	display: table;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	background-color: #f0f0f0;
	border-top: 1px solid white;
}

.nav_section a {
	font-family: Aller;
	color: #8c8c8c;
	font-size: 1.3em;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	opacity: 0.5;
	line-height: 1.5em;
	border-right: 1px solid white;
}

.nav_section a.actual {
	opacity: 1;
	background-color: white;
}

.nav_section a:hover {
	opacity: 1;
	cursor: pointer;
}

#nav_section_sub {
	background-color: #f0f0f0;
	display: table;
	max-width: 1440px;
	margin: 0 auto;
	border-top: 1px solid white;
}

#nav_section_sub a {
	font-family: Aller;
	color: black;
	font-size: 1.3em;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	opacity: 0.5;
	line-height: 1.5em;
	border-right: 1px solid white;
	text-decoration:none;
}

#nav_section_sub a.actual {
	opacity: 1;
}

#nav_section_sub a:hover {
	opacity: 1;
	cursor: pointer;
}

.table_title {
	width: 100%;
	text-align: center;
	color: #8cd200;
	font-family: Aller;
	font-size: 1.5em;
	padding-top: 15px;
}

.table_line{
	border-top: 1px solid #f0f0f0;
	padding-bottom: 15;
}

.quote {
	position: absolute;
	bottom: 0;
	font-family: Aller;
	font-size: 15pt;
	color: #8c8c8c;
	text-align: center;
	width: 100%;
}

.manage{
	text-decoration: none;
}