@CHARSET "UTF-8";

body{background-color: #ececec;}

.container{
	position: absolute;
	left:0;
	right: 0;
	top : 8%;
	bottom: 4%;
}

.tel_container {
	position: absolute;
	right: 2em;
	top: 1em;
	color: #8cd200;
}

.tel_container img{
	display: inline-block;
	vertical-align:middle;
}
.tel_container p{
	display: inline-block;
}

#forgot-box{
	position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 90%;
	height: 90%;
	max-width: 300px;
	max-height: 400px;
	margin: auto;
	text-align: center;
}

#forgot-box img{
	position: relative;
	margin: 1em auto;
}

.input_100{
	max-width: 230px;
	position: relative;
	display: inline-block;
	background-color: white;
	height: 45px;
	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;	
	border: none;
	-webkit-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-radius: 15px;
}

input[type="submit"] {
	width: 100%;
	max-width: 230px;
	background-color: #8cd200;
	font-size: 1em;
	border: 1px solid #8cd200;
	height: 45px !important;
	margin-top: 15px;
	cursor: pointer;
	-webkit-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-radius: 15px;
}

/*Error*/

label.error{
	margin-top: 15px;
	
}

.error{
	width: 100%;
	display: inline-block;
}

input.error{
	border: 1px solid red;
}

.error_box {
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 15px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	
}

.success_box {
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}