
.header_footer_container {
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
}

.m-navigation-header {
	position: absolute;
	right: 0;
	z-index: 100;
	height: 8%;
	color: #ccc;
	background-color: rgb(0, 234, 39);
}

.m-navigation-header a {
	font-family: Aller;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border-radius: 16px;
	cursor: pointer;
}
#header {
	left: 0;
	top: 0;
}

#tkila_header_logo {
	top:0;
	bottom:0;
	margin-top:auto;
	margin-bottom:auto;
	position: absolute;
	padding-left: 20px;
	cursor: pointer;
}

.flag_container{
    top: 9px;
    position: absolute;
    width: 20%;
    height: 5%;
    z-index: 10;
    min-width: 125px;
    padding: 10px 0 0;
}

