/** STYLE FOR HTML ELEMENTS **/
body {
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	clear: both;
}

html, body {height: 100%; }


h1{
	-webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
}

.disabled {
	opacity: 0.5;
}

.oculto {
	visibility: hidden;
}


.textarea {
		height: 70px;
}

.portrait{
		display: none;
	}
#publish_offer {
	background-color: #0064ff;
	color: white;
	border: none;
	float: left;
	padding: 0.5em;
	margin-top:0.5em;
}

#delete_offer {
	background-color: white;
	color: red;
	border: 1px solid red;
	float: right;
	margin-right: 1em;
	padding: 0.5em;
	margin-top:0.5em;
	
}

#delete_offer:hover{
	background-color: red;
	color: white;
}



#clearRadioBtn {
	float: right;
	height: 25px;
	max-width: 75px;
	font-size: 1em;
	margin-right: 1em;
}

#clearProductBtn {
	float: right;
	height: 25px;
	max-width: 75px;
	font-size: 1em;
	margin-top:1em;	
	margin-right:1em;	
}

#header {
	left: 0;
	top: 0;
}

#header_logo_container {
	width: 100%;
	height: 100%;
	max-width: 1440px;
	max-height: 830px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
}

#tkila_header_logo {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	padding-left: 20px;
}

.local_name {
	font-size: 2.5em;
	font-family: Aller;
	color: white;
	float: right;
	margin-right: 0.25em;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.page {
	display: none;
}

.page.current {
	display: block;
}

#manager {
	left: 0;
	height: 88%;
	position: relative;
	top: 8%;
	overflow-x: hidden;
}

#perfil {
	left: 0;
	bottom: 0;
	top: 4em;
	height: auto;
}

.wrapper {
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 100%;
	height: inherit;
	max-width: 1440px;
	margin: auto;
	right: 0;
}

.move_left {
	transform: translate(-100%, 0);
	/*Firefox*/
	-moz-transform: translate(-100%, 0);
	/*Microsoft Internet Explorer*/
	-ms-transform: translate(-100%, 0);
	/*Chrome, Safari*/
	-webkit-transform: translate(-100%, 0);
	/*Opera*/
	-o-transform: translate(-100%, 0);
	/*general version*/
	transition: all 2s;
	/*browser specific versions*/
	-moz-transition: all 2s;
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
}

.horizontally_move {
	transition-property: left;
	/* Safari */
	-webkit-transition-property: left;
	/*general version*/
	transition: all 2s;
	/*browser specific versions*/
	-moz-transition: all 2s;
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
}

.m-navigation {
	position: absolute;
	right: 0;
	z-index: 100;
	height: 8%;
	color: #ccc;
	background-color: #00ea27;
}

.m-navigation a {
	font-family: Aller;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border-radius: 16px;
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	opacity: 0.5;
	cursor: pointer;
}

.m-navigation a:hover {
	opacity: 1;
}


#inicio {
	padding: 1em;
	height: 90%;
	width: 98%;
}

#inicio_left_side {
	float: left;
	width: 60%;
	height: 100%;
	border-right: 1px solid black;
	overflow-y: scroll;
	position: relative;
	 
}

#inicio_right_side {
	float: right;
	width: 39%;
	height: 100%;
}


#inicio_right_side table {
	width: 100%;
}

#inicio_right_side table th {
	color: #8c8c8c;
	font-family: Aller;
	font-size: 1em;
	font-weight: normal;
}

#date_container {
	position: relative;
	height: 40%;
	display: table;
	width: 100%;
}

#pac_container {
	position: relative;
	height: 60%;
	bottom: 0;
	display:table;
	width: 100%
}

.form_label {
	font-family: Aller;
	font-size: 12pt;
	text-align: left;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	vertical-align:middle;
}

#form_table {
	margin-left: auto;
	margin-right: auto;
}

.submit {
	background-color: white !important;
	color: #8cd200 !important;
	border: 1px solid #8cd200 !important;
	padding: 0.5em;
	right: auto;
	margin-top: 1em;
	width: 40%;
}

.submit:hover {
	color: white !important;
	background-color: #8cd200 !important;
	cursor: pointer;
}

.submit_pic {
	background-color: white !important;
	color: #8cd200 !important;
	border: 1px solid #8cd200 !important;
	padding: 0.5em;
	right: auto;
	margin-top: 1em;
	width: 100%;
}

.submit_pic:hover {
	color: white !important;
	background-color: #8cd200 !important;
	cursor: pointer;
}

.del_pic {
	background-color: white !important;
	color: red !important;
	border: 1px solid red !important;
	padding: 0.5em;
	right: auto;
	margin-top: 1em;
	width: 100%;
}

.del_pic:hover {
	color: white !important;
	background-color: red !important;
	cursor: pointer;
}

.profile_forms {
	margin: 0 auto;
	display: inline-block;
}


#update_local_info_form{
	width: 100%;
}

#left_side {
	position: relative;
	padding-left: 5%;
	padding-right: 1%;
	width: 47%;
	float: left;
}

#right_side {
	position:relative;
	padding-left: 1%;
	padding-right: 1%;
	width: 45%;
	float: right;
	
}


.img_local_title {
	color: #8cd200;
	font-family: Aller;
	font-size: 1.5em;
}

.promo_item {
	max-width: 125px;
	height: 35px !important;
	width: 100%;
}

.promo_item_i {
	max-width: 105px;
	height: 35px !important;
	width: 75%
}

.promo_date_input {
	width: 100%;
	height: 35px !important;
	max-width: 55px;
	display: table-cell;
}

.span_time {
	visibility: table-cell;
	font-size: 1em;
}

.span_quote {
	font-size: 0.8em;
}

/**ESTILOS PARA LAS FOTOS DE LOCAL*/
#pics_container {
	position: relative;
	margin:1em auto;
	display: table;
}

#pics_container div{
	display: table-cell;
	padding-left: 1em;
	padding-right: 1em;
}

.local_img {
	width: 175px;
	height: 98px;
	border: 1px solid #ececec;
	margin-top: 1em;
}

._90{
	width: 90%;
}

.local_img:hover {
	opacity: 0.5;
	cursor: pointer;
}

.btn_upload_pic {
	float: right;
	background-color: #f0f0f0;
	color: gray;
}

/** right_size TABLE */
#right_size table {
	font-family: Aller;
	position: relative;
	width: 90%;
}

#right_size th {
	color: #c8c8c8;
	text-align: center;
}

#right_size td {
	text-align: center;
}

#right_size tr {
	height: 40px;
}

#right_size tbody tr:hover {
	cursor: pointer;
	background-color: #e5e5e5;
}

#right_size {
	overflow: scroll;
}

.subsection {
	position: absolute;
	width: 100%;
	/*height: 91%;*/
}

#datos_contacto {
	left: 0;
	display: block;
	bottom: 0;
	top: 0;
	right: 0;
	text-align: center;
}

#datos_local {
	left: 0;
	display: block;
	bottom: 0;
	top: 0;
	overflow-y:scroll;
	
}


.localFormUpdateLocalInfo {
	width: 90%;
	margin-left: 1em;
}

#datos_carta {
	left: 0;
	display: none;
}

#datos_condiciones {
	left: 0;
	bottom: 0;
	top: 0;
}

#datos_condiciones table {
	padding-bottom: 0.5em;
}

#datos_pago {
	left: 0;
	display: block;
}

#check_label_terms{
	margin-top:0.5em;
}

.terms {
	font-family: Aller;
	font-size: 12pt;
	color: #8c8c8c;
}

.terms a {
	font-weight: bold;
	color: #8cd200;
}

.terms a:hover {
	cursor: pointer;
}

#calendar_container {
	width: 40%;
	float: left;
}

.date_size_container {
	width: 58%;
	float: left;
}

#publish_offer_btn {
	background-color: #0064ff;
	color: white;
	border: none;
	text-transform: uppercase;
	font-size: 1em;
}

#prevMonth {
	border: none;
	width: auto;
	height: auto;
}

#nextMonth {
	border: none;
	width: auto;
	height: auto;
}

.dayOfWeek {
	font-family: Aller;
	font-size: 1em;
	color: #b7b7b7;
	text-align: center;
	font-weight: bold;
}

.currentmonth {
	font-family: Aller;
	font-weight: bold;
	font-size: 0.75em;
	cursor: pointer;
	padding: 0.25em;
	text-align: center;
}

.premonth {
	font-family: Aller;
	font-weight: bold;
	font-size: 0.75em;
	cursor: default;
	color: #ececec;
	padding: 0.25em;
}

.currentday {
	color: white;
	background-color: black;
}

.selected_day {
	color: white !important;
	background-color: #8cd200;
}

.day_with_offer {
	color: #8cd200;
}

.radio_selected {
	color: #8cd200;
	font-weight: bold;
}

#offer_editor_container{
	margin-top:1em;
	margin-right:1em;

}

#offer_editor_container #offer_section {
	background-color: #f0f0f0;
	margin-bottom: 1em;
	display: table;
	width: 99%;
	padding-left: 1%;
	padding-top: 1em;
	padding-bottom: 1em;
}

#offer_editor_container #promo_section {
	background-color: #f0f0f0;
	display: table;
	padding-left: 1%;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 99%;
}

#offer_editor_container .section th {
	text-align: center;
}

.modal_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	background: rgba(0, 0, 0, 0.6);
	color: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	display: none;
	z-index: 500;
}

.visible_total{
	visibility: visible;
	display: block;
}

#video_container {
	display: none;
}

.custom_close_buttom {
	width: 31px;
	height: 30px;
	background-image: url(../img/close_btn_vid.png);
	position: absolute;
	cursor: pointer;
	z-index: 600;
}

#contact_form_wrapper {
	background-color: white;
	width: 40%;
	height: 55%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 1%;
	max-width: 450px;
}

.progress_bar {
	width: 80%;
	height: 5%;
	max-height: 35px;
	background-color: #8c8c8c;
	position: relative;
	display: block;
	margin:0 auto;
}

#bar_actual div{
	background-color: #8cd200;
}


.progress_bar div {
	width: 0px;
	position: absolute;
	height: 100%;
	/*max-height: 20px;*/
}

.profile_span {
	color: gray;
	font-size: 0.75em;
	margin-left: 0.5em;
  margin-right: 0.5em;
}

.profile_span i {
	margin-left: 0.25em;
}

.conditions_list {
	color: #8c8c8c;
	font-size: 0.8em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	display: inline-block;
}

.conditions_list::before {
	content: url('../img/limon_min.png');
	padding-right: 0.75em;
}

#iban_wrapper {
	max-width:550px;
	top: 1em;
	left: 0em;
	right:0em;
	bottom:0em;
	position: absolute;
	margin: 0 auto;
}

#iban_wrapper h2 {
	color: black;
	font-size: 1.25em;
}

#iban_wrapper label {
	padding-right: 1em;
}

#iban_input {
	margin-left: 1em;
}

._4L {
	width: 10%;
}

._2L {
	width: 7%;
}

._10L {
	width: 30%;
}

#iban_submit_btn {
	float: left;
}

.img_upload_ok_btn {
	color: white;
	background-color: #8cd200;
	font-family: Aller;
}

#info_msg{
	position: absolute;
	right: 1em;
	top: 5em;
	border-radius: 50%;
	width: 15em;
	height: 15em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: #00ea27;
}

#info_msg h1 {
	color: white;
	display: block;
	line-height: 10em;
	text-align: center;
	font-size: 1.5em !important;
	 -webkit-margin-before: 0; 
  	-webkit-margin-after: 0; 
  	 margin-top: 0; 
  	margin-bottom: 0; 
}



/* iPads (portrait) ---------------------------------------- */
@media only screen and (orientation: portrait) { /* YOUR STYLES */

	.landscape{
		display:none;
	}
	
	.portrait{
		display: block;
	}
	
	#msg_portrait_wrapper{
		position: absolute;
		top: 2%;
		left: 2%;
		right: 2%;
		bottom: 2%;
		margin: auto;
	}

}

/* iPads (landscape) --------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px)
and (orientation: landscape) {
	
	.landscape{
		display:block;
	}
	

	/* YOUR STYLES */
	h1 {
		font-size: 1em;
	}
	h4 {
		font-size: 0.8em;
	}
	label {
		font-size: 0.75em;
	}
	select,input,textarea,button {
		font-size: 0.8em;
	}
	select,input,button {
		max-height: 30px !important;
	}
	button {
		max-width: 120px;
	}
	
	#tkila_header_logo {
		margin-left: 1%;
	}
	.local_name {
		margin-right: 1%;
	}
	.span_quote {
		font-size: 0.5em;
	}
	.table_section {
		padding-top: 0 !important;
		font-size: 1.2em;
	}
	.form_label {
		font-size: 1em;
	}
	.local_img {
		width: 7.5em;
		height: 7.5em;
	}
	.conditions_list {
		font-size: 0.5em;
	}
	.terms {
		font-size: 0.75em;
	}
	.table_content {
		margin-top: 5px;
	}
	#iban_wrappe {
		width: 75%;
	}
	#iban_wrapper h2 {
		font-size: 1em;
	}

	/***COSAS DEL GESTOR***
   
    
    .calendar_container{
    	width: 45%;
    }
    
    .date_size_container{
    	width: 52%;
    }*/
	#publish_offer_btn {
		font-size: 0.75em;
	}
	#offer_editor_container .section {
		margin-right: 0.5em;
	}
	#offer_editor_container {
		height: 98%;
	}
	#offer_section {
		margin-bottom: .5em;
	}
	.action_offer {
		max-width: 125px;
		height: 28px;
		font-size: 0.75em;
	}
	#table_promociones {
		padding: .25em !important;
	}
	/*#table_promociones th {
		font-size: 0.75em;
	}
	#table_promociones td {
		font-size: 0.75em;
	}*/
	#clearRadioBtn,#clearProductBtn {
		font-size: 0.75em;
	}
	
}

@media only screen and (min-device-width: 768px) and (max-device-width:
	1024px) and (orientation: landscape) { /* YOUR STYLES */

	
}

/* iPad Retina (iPad 3; portrait and landscape) ------------ */
@media only screen and (min-device-width: 1536px) and (max-device-width:
		2048px) and (min--moz-device-pixel-ratio: 2) , only screen and
		(min-device-width: 1536px) and (max-device-width: 2048px) and
		(-o-min-device-pixel-ratio: 2/1) , only screen and (min-device-width:
		1536px) and (max-device-width: 2048px) and
		(-webkit-min-device-pixel-ratio: 2) , only screen and
		(min-device-width: 1536px) and (max-device-width: 2048px) and
		(min-device-pixel-ratio: 2) , only screen and (min-device-width:
	1536px) and (max-device-width: 2048px) and (min-resolution: 2dppx) {
	/* YOUR STYLES */
}

/***** OTHER RARE DEVICES  ************/
@media only screen and (min-width: 1025px) and (max-width: 1249px) {
	/* YOUR STYLES */
	h1 {
		font-size: 1em;
	}
	select,input,textarea,button {
		font-size: 0.8em;
	}
	select,input,button {
		max-height: 35px !important;
	}
	button {
		max-width: 100px;
	}
	
	#tkila_header_logo {
		margin-left: 1%;
	}
	.local_name {
		margin-right: 1%;
	}
	.table_section {
		padding-top: 0 !important;
		font-size: 1.2em;
	}
	.form_label {
		font-size: 1em;
	}
	.local_img {
		width: 7.5em;
		height: 7.5em;
	}
	.conditions_list {
		font-size: 0.5em;
	}
	.terms {
		font-size: 0.75em;
	}
	.table_content {
		margin-top: 5px;
	}
	#iban_wrappe {
		width: 75%;
	}
	#iban_wrapper h2 {
		font-size: 1em;
	}

	/***COSAS DEL GESTOR****/
	.calendar_container {
		width: 45%;
	}
	.date_size_container {
		width: 52%;
	}
	#publish_offer_btn {
		font-size: 0.75em;
	}
	#offer_editor_container .section {
	
		margin-right: 0.5em;
	}
	#offer_editor_container {
		height: 98%;
	}
	#offer_section {
		margin-bottom: .5em;
	}
	.action_offer {
		max-width: 125px;
		height: 28px;
		font-size: 0.75em;
	}
	#table_promociones {
		padding: .25em !important;
	}
	#promo_section{
	padding-bottom: 2em;
}
}

/* --------------------------------------------------------- */
/* COMPUTERS / OTHER DEVICES ------------------------------- */
/* --------------------------------------------------------- */

/* Displays/Screens (e.g. MacBook @ 1280x800) -------------- */
@media only screen and (min-width: 1250px) and (max-width: 1409px) {
	/* YOUR STYLES */
	/*h1 {
		font-size: 1em;
		line-height: 1em;
				padding: 0.5em;
		
	}
	h4 {
		font-size: 0.75em;
	}
	label {
		font-size: 0.6em;
	}
	select,input,textarea,button {
		font-size: 0.75em;
	}
	select,input,button {
		max-height: 30px !important;
	}
	button {
		max-width: 100px;
	}
	textarea {
		height: 5em;
	}
	#tkila_header_logo {
		margin-left: 1%;
	}
	.local_name {
		margin-right: 1%;
	}
	#right_side {
		margin-top: 1em;
	}
	.table_section {
		padding-top: 0 !important;
		font-size: 1.5em;
	}
	.form_label {
		font-size: 1em;
	}
	.conditions_list {
		font-size: 0.5em;
	}
	.terms {
		font-size: 0.75em;
	}
	#datos_condiciones table {
		padding-bottom: 0.1em;
	}
	.local_img {
		width: 7.5em;
		height: 7.5em;
	}
	.conditions_list {
		font-size: 0.75em;
	}
	.terms {
		font-size: 0.75em;
	}
	.table_content {
		margin-top: 5px;
	}
	.action_offer {
		max-width: 125px;
		height: 28px;
		font-size: 0.75em;
	}
	.span_quote {
		font-size: 0.7em;
	}
	#table_promociones {
		padding: .25em !important;
	}
	#table_promociones th {
		font-size: 0.75em;
	}
	#table_promociones td {
		font-size: 0.75em;
	}
	#clearRadioBtn,#clearProductBtn {
		font-size: 0.75em;
	}
	#offer_editor_container .section {
		
		margin-right: 0.5em;
	}
	#publish_offer_btn {
		font-size: 0.75em;
	}
	
	#promo_section{
	padding-bottom: 2em;
}*/
	
}

/* Displays/Screens (e.g. 19" WS @ 1440x900) --------------- */
@media only screen and (min-width: 1410px) and (max-width: 1649px) {
	/* YOUR STYLES */
	#tkila_header_logo {
		margin-left: 1%;
	}
	.local_name {
		margin-right: 1%;
	}
}

/* Displays/Screens (e.g. 22" WS @ 1680x1050) -------------- */
@media only screen and (min-width: 1650px) and (max-width: 1889px) {
	/* YOUR STYLES */
	input {
		font-size: 10pt;
		height: 30px;
	}
	select {
		font-size: 10pt;
		height: 30px;
	}
	#tkila_header_logo {
		margin-left: 1%;
	}
	.local_name {
		margin-right: 1%;
	}
	.table_section {
		font-size: 14pt
	}
	.form_label {
		font-size: 11pt
	}
}

/* Displays/Screens (e.g. 24" WS @ 1920x1080) -------------- */
@media only screen and (min-width: 1890px) and (max-width: 2529px) {
	/* YOUR STYLES */
}

/* Really Large Displays/Screens (e.g. 2560x1440) ---------- */
@media only screen and (min-width: 2530px) { /* YOUR STYLES */
}

#table_promociones {
	/*table-layout: fixed;*/
	  width: 100%;
}

/*#table_promociones td {
	width: 14%;
}*/

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and (
		min--moz-device-pixel-ratio: 2) , only screen and (
		-o-min-device-pixel-ratio: 2/1) , only screen and (
		min-device-pixel-ratio: 2) , only screen and ( min-resolution: 192dpi)
		, only screen and ( min-resolution: 2dppx) {
	/* Retina-specific stuff here */
	select,input,button {
		max-height: 2.5em !important;
		font-size: 0.7em;
	}
	.table_section {
		font-size: 1em;
	}
	#datos_condiciones table {
		padding-bottom: 0.25em;
	}
	.form_label {
		font-size: 0.8em;
	}
}

@media only screen and (max-height: 510px) {
	.wrapper {
		overflow-y: scroll;
	}
	#contact_form_wrapper {
		height: 70%
	}
}

#listOfclientsOfDayBody {
	font-size: 0.7em;
	font-family: Aller;
	text-align: center;
}

/***********TOOLTIP**************/
#modal_for_multiple_day_selector{
	width: 50%;
	/*margin: -215px 0 0 -25%;*/
}

.selected_day_with_pack{
	background-color: #f0f0f0;
}

/* MSG*/

.msg_ok{
	background:rgb(0, 234, 39)  url(../img/info.png) no-repeat 10px 50%;
	padding: 10px 5px 10px 5px;
	border: 0 none;
	margin:10px 0px;	
}

.jcrop-holder{
	display: inline-block;
}

.img_crop{
	width: 100%;
	max-width: 500px;
	height: auto;
}

#preview{
	/*width: 175px;
	height: 98px;*/
	border: 1px solid #ececec;
}

/**** PROGRESS BAR **/

.progress {
  width: 90%;
  height: 15px;
}
.progress-wrap {
  background: rgb(0, 234, 39);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  
}

.progress-bar {
    background: #f0f0f0;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .ui-widget{
  	font-size: 1em;
  }



.ui-state-highlight  {
	border: none !important;
	background: none !important;
	color: #8cd200 !important;
}



.ui-state-highlight > a {
	/*border: none !important;*/
	/*background: none !important;*/
	color: #8cd200 !important;
}

.ui-state-active > a{
	background:#8cd200 !important;
	color:white !important;
}

.ui-datepicker-today {
	background: black !important;
	color: white !important;
}

.ui-datepicker-today>a {
	background: black !important;
	color: white !important;
}

.ui-datepicker-current-day{
	
}

