@CHARSET "UTF-8";
@font-face {
	font-family: Aller;
	src: url('../fonts/Aller_Rg.ttf') format('truetype');
}

@font-face {
	font-family: Arista;
	src: url('../fonts/Arista2.0_light.ttf') format('truetype');
}

@font-face {
	font-family: Aller;
	src: url("../fonts/Aller_Rg.eot") /* EOT file for IE */
}

@font-face {
	font-family: Aller;
	src: url("../fonts/Aller_Rg.woff") /* EOT file for IE */
}

html {
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

p {
	font-family: Aller;
}

h4 {
	font-family: Aller;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	color: white;
	padding-left: 0.25em;
}

#container { /*background-image: url("resources/img/image1.jpg");*/
	background-color: #ececec;
	width: 100%;
	height: 88%;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top: 8%;
	
}

#logo_container{
	position: relative;
	margin:0 auto;
	width: 25%;
	max-width: 350px;
}
.logo_div{
	
}

#logo_container img{
	position: relative;
	margin: 3em auto;
	display: block;
}

.error {
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 15px;
	text-align: center;
	position: absolute;
  	margin-right: 3em;
  	max-width: 250px;
	 right: 0;
  top: 0;
  margin-top: auto;
  bottom: 0;
  display: table;
  margin-bottom: auto;
}

.msg {
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 15px;
	position: absolute;
  	margin-right: 3em;
  	max-width: 250px;
  	text-align: center;
  	  right: 0;
  top: 0;
  margin-top: auto;
  bottom: 0;
  display: table;
  margin-bottom: auto;
  	
}

#login-box {
	position: relative;
}

#login_form {
	position: relative;

}

input {
	font-family: Aller;
	background-color: white;
	height: 40px;
	color: black;
	width: 100%;
	padding: 0.5em;
	border: none;
}

input:focus {
	outline: none !important;
	border: 1px solid #8cd200;
}

.top {
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.bottom {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#submit_button {
	font-family: Aller;
	width: 100%;
	color: white !important;
	background-color: #8cd200 !important;
	font-size: 1em;
	border: 1px solid #8cd200 !important;
	height: 45px !important;
	margin-top: 15px;
	cursor: pointer;
	-webkit-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-radius: 15px;
}

.custom_close_buttom {
	width: 31px;
	height: 30px;
	background-image: url(../img/close_btn_vid.png);
	position: absolute;
	cursor: pointer;
	z-index: 600;
}

#header_logo_container {
	width: 100%;
	height: 100%;
	position: relative;
}

.tel_container {
	position: absolute;
	right: 2em;
	top: 0;
	color: #8cd200;
}

.tel_container img{
	display: inline-block;
	vertical-align:middle;
}
.tel_container p{
	display: inline-block;
}