@CHARSET "ISO-8859-1";

#local_publish {
		text-shadow: 2px 2px gray;
		/*border:1px solid gray;*/
	}
	
	#local_publish:active{
		text-shadow:none;
		background-color: gray;
		color:white;
	}
	
	

	
/** IPHONE 5 LANDSPACE **/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

/* STYLES GO HERE */

	#tarifas_text_wrapper p{
		font-size: .5em !important;
	}

	#center_land h1 {
		font-size: 1em;
	}
	
	#info h1{
		font-size: 1em;
	}
	
	#left_size img{
		height: 80%;
	}

}

/** IPHONE 5 PORTRAIT **/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
	
	.download_app{
		top:40%;
	}
	
	.download_app.appIOS{
		left: 8%;
	}
	
	.download_app.appAndroid{
		right: 11%;
	}

	#ios_example{
		height: 60%;
		left: 0.5%;
	}
	
	#android_example{
		height: 60%;
		right: 0.5% !important;
		bottom:-10% !important;
	}
	
	#tarifas_text_wrapper #devices_wrapper #ios_example{
		left:5% !important;
		width: 50%
	}
	
	#tarifas_text_wrapper #devices_wrapper #android_example{
		width: 55%;
		bottom: -10%;
	}
	
	#inscripcion_wrapper #right_size{
		top:4%;
	}
	
	

	
}