@CHARSET "UTF-8";

/***** FOR MODAL ******/
.ui-dialog-title{
	color: white !important;
}
.legend {
	font-size: 1.2em;
	font-family: Aller;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-top: 0;
	margin-bottom: 0;
}



.modal{
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	opacity: 0;
	position:absolute;
	top:0;
	visibility: hidden;
	width:80%;
	height:auto;
	max-height:400px;
	max-width:800px;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.modal .header,.modal .footer {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
}
	#modal .footer {
		border:none;
		border-top: 1px solid #e7e7e7;
		border-radius: 0 0 5px 5px;
	}
.modal h2 {
	margin:0;
}
.modal .btn {
	font-size: 0.6em;
}
.modal .copy,.modal .header, .modal .footer {
	padding:15px;
}
.modal p{
	
	font-family: Aller;
	font-size: 1em;
}

.modal .legend{
	
	font-family: Aller;
	font-size: 1em;
}

#commentForm input{
	width: 100%;
	height: 35px;
	border:1px solid gray;
}

#commentForm input:focus{
	border:1px solid #00ea27;
}

#commentForm select{
	width: 100%;
	height: 35px;
	border:1px solid gray;
}

.cmxform textarea{

	resize: none;
	width: 100%;
	padding: 10px;
	font-size: 10pt;
}

/********* CLEARFIX *********/
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

.modal-content {
	background: #00ea27;
	position: relative;
	z-index: 20;
	border-radius:5px;
}
.modal .copy {
	background: #fff;
	position: relative;
  	display: flex;
}

.modal .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.modal .red{
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 51, 51)), to(rgb(255, 0, 0)));
	background-image: -webkit-linear-gradient(top, rgb(255, 51, 51), rgb(225, 0, 0));
	background-image: -moz-linear-gradient(top, rgb(255, 51, 51), rgb(225, 0, 0));
	background-image: -o-linear-gradient(top, rgb(255, 51, 51), rgb(225, 0, 0));
	background-image: -ms-linear-gradient(top, rgb(255, 51, 51), rgb(225, 0, 0));
	background-image: linear-gradient(top, rgb(255, 51, 51), rgb(225, 0, 0));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#FF3333', EndColorStr='#FF0000');	
	color:white;
	text-shadow: none;
}


.modal .b_l{
	float: left;
}

.modal .b_r{
	float: right;
}

.modal .btn {
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(246, 246, 246)), to(rgb(225, 225, 225)));
	background-image: -webkit-linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
	background-image: -moz-linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
	background-image: -o-linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
	background-image: -ms-linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
	background-image: linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f6f6f6', EndColorStr='#e1e1e1');
	border: 1px solid #ccc;
	color:#555;
	display:inline-block;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0 2px rgba(255,255,255,.9);
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	box-shadow:0 1px rgba(0,0,0,.35);
	-moz-box-shadow:0 1px rgba(0,0,0,.35);
	-webkit-box-shadow:0 1px rgba(0,0,0,.35);
	margin-left: 1em;
}





	.modal .btn:active {
		background-color: #f6f6f6;
		background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(246, 246, 246)), to(rgb(225, 225, 225)));
		background-image: -webkit-linear-gradient(bottom, rgb(246, 246, 246), rgb(225, 225, 225));
		background-image: -moz-linear-gradient(bottom, rgb(246, 246, 246), rgb(225, 225, 225));
		background-image: -o-linear-gradient(bottom, rgb(246, 246, 246), rgb(225, 225, 225));
		background-image: -ms-linear-gradient(bottom, rgb(246, 246, 246), rgb(225, 225, 225));
		background-image: linear-gradient(bottom, rgb(246, 246, 246), rgb(225, 225, 225));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f6f6f6', EndColorStr='#e1e1e1');
	}
	.modal .btn.go {
		background-color: #3dda38;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(61, 218, 56)), to(rgb(39, 187, 63)));
		background-image: -webkit-linear-gradient(top, rgb(61, 218, 56), rgb(39, 187, 63));
		background-image: -moz-linear-gradient(top, rgb(61, 218, 56), rgb(39, 187, 63));
		background-image: -o-linear-gradient(top, rgb(61, 218, 56), rgb(39, 187, 63));
		background-image: -ms-linear-gradient(top, rgb(61, 218, 56), rgb(39, 187, 63));
		background-image: linear-gradient(top, rgb(61, 218, 56), rgb(39, 187, 63));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,EndColorStr='#3dda38', StartColorStr='#27bb3f');
		border: 1px solid #21ac1c;
		color:#fff;
		text-shadow:0 -1px rgba(0,0,0,.4);
	}
		.modal .btn.go:active {
			background-color: #3dda38;
			background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(61, 218, 56)), to(rgb(39, 187, 63)));
			background-image: -webkit-linear-gradient(bottom, rgb(61, 218, 56), rgb(39, 187, 63));
			background-image: -moz-linear-gradient(bottom, rgb(61, 218, 56), rgb(39, 187, 63));
			background-image: -o-linear-gradient(bottom, rgb(61, 218, 56), rgb(39, 187, 63));
			background-image: -ms-linear-gradient(bottom, rgb(61, 218, 56), rgb(39, 187, 63));
			background-image: linear-gradient(bottom, rgb(61, 218, 56), rgb(39, 187, 63));
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,EndColorStr='#3dda38', StartColorStr='#27bb3f');
		}
		
		
		.preview_container{
			display: inline-block;
  			 vertical-align: top; 
		}