/********GLOBAL STYLES FOR ALL DEVICES  **********************/
@font-face {
	font-family: Aller;
	src: url('../fonts/Aller_Rg.ttf') format('truetype');
}

@font-face {
	font-family: Aller;
	src: url("../fonts/Aller_Rg.eot") /* EOT file for IE */
}

@font-face {
	font-family: Aller;
	src: url("../fonts/Aller_Rg.woff") /* EOT file for FF */
}

@font-face {
	font-family: Arista;
	src: url('../fonts/Arista2.0_light.ttf') format('truetype');
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	background: #000;
}

h1, h2, h3, h4, h5, p, label, textarea, input, select {
	font-family: Aller;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-top: 0;
	margin-bottom: 0;
}

h4 {
	font-size: 1em;
}

.legend {
	font-size: 1.2em;
	font-family: Aller;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-top: 0;
	margin-bottom: 0;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 550;
}

select, input, textarea {
	background-color: white;
	border: 1px solid #8cd200;
	color: black;
	font-size: 1em;
	padding: 0.3em;
}

select:focus {
	outline: none !important;
	border: 1px solid gray;
}

input:focus {
	outline: none !important;
	border: 1px solid gray;
}

td select {
	width: 100%;
}

td input {
	width: 100%;
}

td textarea {
	width: 100%;
}

.darker {
	width: 100%;
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	z-index: 5;
}
.darkerCenter {
    width: 260px;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    z-index: 6;
    left: 50%;
    margin-left: -130px;
}

.ui-dialog-title {
	color: white;
}

/*.ui-dialog .ui-dialog-titlebar {
	border: none;
	background: none;
	padding: none;
}*/

#ui-id-2 {
	display: none;
}

#info {
	border: 1px solid white;
	font-family: Aller;
	color: white;
	position: relative;
	padding: .5em 1em;
	text-align: center;
	display: block;
	background: rgba(0,0,0,0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:10px;
}
/**************************************************************/
#contact_section {
	top: 9px;
	position: absolute;
	width: 50%;
	height: 5%;
	z-index: 10;
	min-width: 125px;
	padding:10px 0 0;
}

#contact_section a {
	display: block;
	float: left;
	padding:10px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#000;
	margin:0 5px;
}

.page {
	display: none;
}

.page.current {
	display: block;
}

.subpage {
	display: none;
}

.subpage.current {
	display: block;
}

.wrapper {
	overflow: hidden;
	position: absolute;
	left: 0;
	height: 100%;
	top: 8%;
	width: 100%;
}

/**************CSS TRANSITIONS **********************/
.move_left {
	transform: translate(-100%, 0);
	/*Firefox*/
	-moz-transform: translate(-100%, 0);
	/*Microsoft Internet Explorer*/
	-ms-transform: translate(-100%, 0);
	/*Chrome, Safari*/
	-webkit-transform: translate(-100%, 0);
	/*Opera*/
	-o-transform: translate(-100%, 0);
	/*general version*/
	transition: all 2s;
	/*browser specific versions*/
	-moz-transition: all 2s;
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
}

.horizontally_move {
	transition-property: left;
	/* Safari */
	-webkit-transition-property: left;
	/*general version*/
	transition: all 2s;
	/*browser specific versions*/
	-moz-transition: all 2s;
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
}

/***************************************************/
#slider {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	overflow: hidden;
	position: absolute;
}

#slider img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#slider img.active {
	z-index: 3
}

.m-navigation {
	position: relative;
	display:block;
	z-index: 100;
	color: #ccc;
	background-color: rgb(0, 234, 39);
	text-align:center;
}

.m-navigation a {
	font-family: Aller;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border-radius: 16px;
	cursor: pointer;
}

.m-navigation a:hover {
	opacity: 1;
}

#local_publish {
	display:inline-block;
	padding:15px 20px;
	color:#fff;
	background:#000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size:24px;
	margin:10px 0;
}

#local_publish:hover {
	opacity:0.8;
}

#header {
	left: 0;
	top: 0;
}

.logo_wrapper {
	width: 11em;
	height: 11em;
	/*height: 30%;
	width: 20%;*/
	/*box-shadow: 0 0 90px 15px rgba(0,0,0,.5);*/
	position: relative;
	margin: auto;
	margin-top: 2%;
	/*background-color: rgba(0, 0, 0, 0.8);*/
	padding:20px;
	z-index: 8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.logo_wrapper img {
	height: 100%;
}

#center_land h1 {
	color: white;
	font-size: 2.5em;
	text-align: center;
}

#play_intro {
	background-image: url(../img/play_landing.png);
	background-repeat: no-repeat;
	color: white;
	z-index: 8;
	min-width: 110px;
	height: 120px;
	background-color: transparent;
	margin: 1% auto;
	padding: 0px;
	padding-top: 95px;
	font-family: Aller;
	font-size: 0.9em;
	border: none;
	cursor: pointer;
	background-position: center top;
	display: inherit;
}

#play_intro:hover {
	color: gray;
	background-image: url(../img/play_landing_hover.png);
}

.app_info {
	position: relative;
	height: 30%;
	width: 100%;
	top: 20%;
}

.download_app {
	position: absolute;
	top: 30%;
	display: inline-block;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	cursor: pointer;
	transition: all .3s ease;
	padding-left: 28px;
	padding-right: 5px;
	font-family: Aller;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid white;
	z-index: 15;
	text-decoration: none;
	background:#000;
}

.download_app.appIOS:before {
	background-image: url(../img/ico-appstore.png);
}

.download_app.appAndroid:before {
	background-image: url(../img/ico-googleplay.png);
}

.download_app.appIOS {
	left: 17.5%;
}

.download_app.appAndroid {
	right: 16.5%;
}

.download_app:before {
	content: "";
	background: transparent no-repeat left center;
	opacity: 1;
	width: 38px;
	height: 38px;
	position: absolute;
	left: 6px;
	top: 50%;
	margin: -19px 0 0;
}

#mob_container {
	position: relative;
	max-width: 1440px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mobiles {
	position: absolute;
	z-index: 6;
	bottom: -15%;
}

#ios_example {
	left: 16.5%;
	bottom: -10%;
	height: 65%;
}

#android_example {
	right: 14%;
	height: 70%;
}

#cookies {
	width: 100%;
	font-size: 13px;
	font-family: Aller;
	background-color: #222630;
	background: rgb(34, 38, 48);
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2147483646;
	transition: all 0.3s ease-in;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	padding: 3em;
}

.brand-action {
	padding: 7px 8px 6px;
	margin: 0 6px;
	border-radius: 4px;
	border: solid 1px rgba(255, 255, 255, 0.6);
	color: #fff;
	font-size: 11px;
	line-height: 1em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	background: 0, 0;
	margin-top: 0.25em;
}

.brand-action:hover {
	color: black;
	background-color: white;
}

#top {
	width: 70%;
	height: 50%;
	float: left;
}

#bottom {
	width: 70%;
	height: 50%;
	background-color: orange;
	float: left;
}

#right {
	width: 30%;
	height: 100%;
	right: 0;
	top: 0;
	position: absolute;
	background-color: green;
}

#nav_header {
	left: 0;
	width: 40%;
	height: 60px;
	position: relative;
	top: 72px;
	background: rgb(140, 210, 0);
}

#nav_header>a {
	border-right: 1px solid #ececec;
	position: relative;
	display: inline-block;
	height: 100%;
	width: 32.7%;
	font-size: 20px;
	font-family: Aller;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

#nav_header .item:hover {
	background: rgba(34, 38, 48, 0.75);
}
/*
#inscripcion_left{
	width: 40%;
	height: 100%;
}
*/
#inscripcion_right {
	width: 30%;
	height: 80%;
	left: 60%;
	position: absolute;
	top: 10%;
	border-radius: 25px;
	border: 2px solid red;
	background: rgba(51, 51, 51, 1);
}

/*--- estilos para los ul y li del formulario ---*/
.contact_form {
	height: 100%;
}

.contact_form ul {
	/*width:750px;*/
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.contact_form li {
	/*padding:12px; */
	border-bottom: 1px solid #eee;
	position: relative;
}

.contact_form label {
	color: white;
	font-family: Aller;
	display: inline-block;
	/*float: left;*/
	font-size: 18px;
	font-weight: bold;
	margin-top: 3px;
	/*padding: 3px;*/
	width: 165px;
	line-height: 64px;
	padding-left: 40px;
}

.contact_form input {
	height: 25px;
	width: 220px;
	padding: 5px 8px;
}

.contact_form textarea {
	padding: 8px;
	width: 300px;
}

.contact_form button {
	margin-left: 70%;
}

/* === Estilos de Validacion === */
.contact_form input:required:valid, .contact_form textarea:required:valid
	{
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid
	{
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Estilos del boton de Envio === */
button.submit {
	padding: 15px 55px;
	font-family: Aller;
	font-weight: bold;
	line-height: 1;
	color: #444;
	border: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff),
		to(#bbb));
	background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
	background-color: #fff;
	border: 1px solid #f1f1f1;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

button.submit:hover {
	opacity: .55;
	cursor: pointer;
	color: #fff;
}

button.submit:active {
	border: 1px solid #222;
	box-shadow: 0 0 10px 5px #444 inset;
}

/*******************STYLES PAGE 2***********************************/
.diapo {
	height: 460px;
	width: 100%;
	position: relative;
}

.white {
	background-color: white;
}

.grey {
	background-color: rgb(236, 236, 236);
}

#inicio {
	overflow-y: scroll;
	top: 0;
}

/*#inicio::-webkit-scrollbar { width: 0 !important }
#inicio { -ms-overflow-style: none; }
#inicio { overflow: -moz-scrollbars-none; }*/
#nav_section {
	top: 2%;
	position: absolute;
	width: 100%;
	height: 5%;
	z-index: 10;
	min-width: 285px;
}

#nav_section a {
	font-family: Aller;
	color: #8cd200;
	font-size: 16pt;
	padding-left: 20px;
	float: left;
	opacity: 0.5;
}

#nav_section p {
	font-family: Aller;
	color: #8cd200;
	font-size: 16pt;
	padding-right: 20px;
	float: right;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	line-height: 35px;
}

#nav_section p::before {
	content: '';
	background-image: url(../img/tlf_ico.png);
	width: 35px;
	height: 35px;
	position: absolute;
	margin-left: -40px;
}

#nav_section a.actual {
	opacity: 1;
}

#nav_section a:hover {
	opacity: 1;
	cursor: pointer;
}

#d1 img {
	bottom: 0;
	position: absolute;
	margin-left: 30%;
}

#text_d1_wrapper>p {
	color: #8c8c8c;
	font-size: 1em;
}

#text_d1_wrapper {
	position: absolute;
	width: auto;
	height: auto;
	left: 60%;
	top: 25%;
}

#text_d5_wrapper {
	position: relative;
	margin: 0 auto;
	padding-top: 5%;
	width: 25%;
	height: 80%
}

#text_d5_wrapper img {
	height: 45%;
	display: block;
	margin: 0 auto;
}

.free_inscription_claim {
	border: solid 1px rgb(0, 234, 39);
	cursor: pointer;
	color: #8cd200;
	font-family: Aller;
	font-size: 1.25em;
	padding: 0.2em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1em;
	max-width: 200px;
	margin: 0.75em auto;
}

.free_inscription_claim:hover {
	background-color: #8cd200;
	color: white;
}

#first_inscription {
	border-color: white;
	color: white;
}

#first_inscription:hover {
	background-color: white;
	color: #8cd200;
}

#d2 img {
	bottom: 6%;
	position: absolute;
	left: 60%;
}

#d2 div {
	position: absolute;
	left: 25%;
	top: 25%;
}

#d3 img {
	bottom: 6%;
	position: absolute;
	left: 25%;
}

#d3 div {
	position: absolute;
	left: 55%;
	top: 25%;
	width: 25%;
}

#d4 img {
	bottom: 6%;
	position: absolute;
	left: 50%;
}

#d4 div {
	position: absolute;
	left: 15%;
	top: 25%;
	width: 30%;
}

#d5 {
	background-image: url(../img/inicio_m5.png);
	background-size: cover;
	height: 75%;
}

#d5 .download_app {
	top: 80%;
}

/*#d5 .download_app.appIOS {
	left: 79%;
}*/

.text_v {
	color: #8cd200;
	font-size: 2.75em;
	-webkit-margin-after: 0.5em;
	margin-bottom: 0.5em;
}

.text_g {
	color: #8c8c8c;
	font-size: 2.5em;
}

.align_rigth {
	text-align: right;
}

.sub_hide {
	display: none;
}

#tarifas {
	background-color: white;
	left: 100%;
	height: 92%;
	top: 0;
}

#inscripcion {
	background-color: white;
	left: 100%;
	top: 0;
}

#tarifas_text_wrapper {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

#devices_wrapper {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
}

.dev_tarifas_ios {
	left: 10% !important;
}

.dev_tarifas_android {
	right: 18% !important;
}

#t_w {
	position: absolute;
	width: 50%;
	height: 80%;
	right: 0;
	top: 20%;
}

#tarifas_text_wrapper h1 {
	font-size: 3em;
	color: #8cd200;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}

#tarifas_text_wrapper p {
	font-size: 2em;
	color: #c8c8c8;
	-webkit-margin-before: 0.75em;
	-webkit-margin-after: 0.75em;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

#tarifas_text_wrapper ul {
	font-family: Aller;
	font-size: 25pt;
	color: #8c8c8c;
	display: inline-block;
	text-align: center;
	left: 30%;
	position: relative;
}

#tarifas_text_wrapper ul li {
	text-align: center;
}

.tarfia_list::before {
	content: url('../img/limon.png');
	padding-right: 0.75em;
}

.tarfia_list {
	font-family: Aller !important;
	font-size: 25pt !important;
	color: #8c8c8c !important;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
}

#tarifas_text_wrapper h2 {
	font-family: Aller;
	font-size: 30pt;
	color: #8cd200;
	text-transform: uppercase;
}

.quote {
	position: absolute;
	bottom: 1em;
	font-size: 1em !important;
	color: #8c8c8c;
	width: 100%;
}

#inscripcion_wrapper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	overflow-y:scroll; 
}

#left_size {
	width: 50%;
	height: 92%;
	float: left;
	position: relative;
	top: 4%;
}

#right_size {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	top: 8%;
}

#left_size h1 {
	font-family: Aller;
	font-size: 2.5em;
	color: #8cd200;
	text-align: center;
}

#left_size img {
	position: absolute;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.form_label {
	color: gray;
	font-family: Aller;
	width: 40%;
}

#form_table {
	margin-left: auto;
	margin-right: auto;
}

#right_size input {
	max-width: 250px;
	height: 35px;
	padding-left: 15px;
	font-family: Aller;
	font-size: 12pt;
}

#right_size select {
	max-width: 250px;
	height: 35px;
	padding-left: 15px;
}

#right_size input:focus {
	outline: none !important;
	border: 1px solid gray;
}

#submit_btn {
	background-color: white !important;
	color: #8cd200 !important;
	border: 1px solid #8cd200 !important;
	width: 155px !important;
	right: 0;
	position: absolute;
	left: 0;
	margin: auto;
}

#submit_btn:hover {
	color: white !important;
	background-color: #8cd200 !important;
	cursor: pointer;
}

#check_label {
	font-family: Aller !important;
	font-size: 10pt !important;
	color: #8c8c8c !important;
}

#term_cond {
	color: #8cd200 !important;
}

#term_cond:hover {
	cursor: pointer;
}

.table_title {
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
}

.table_section {
	color: #8cd200;
	font-family: Aller;
	font-size: 17pt;
}

.table_content {
	width: 100%;
	margin-top: 15px;
}

#localForm {
	height: 95%;
	width: 95%;
	position: relative;
}

/*********************** FOR NORMAL SCREEN  *************************/
@media screen and (min-width: 1224px) and (max-width : 1824px) {
	#slider {
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		z-index: 1;
		overflow: hidden;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	#slider img {
		width: 100%;
		height: 100%;
	}
	#local_publish {
		font-size: 2em;
		line-height: 40px !important;
		margin-top: 10px;
	}
	.darker {
		width: 100%;
		height: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		right: 0;
		left: 0;
		z-index: 5;
	}
	.diapo {
		width: 100%;
		/*max-width: 1440px;*/
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 0;
		position: relative;
	}
	/*#d5 .download_app.appIOS {
		left: 77%;
	}*/
	.nav_section {
		position: absolute;
		width: 15%;
		height: 5%;
		z-index: 10;
		min-width: 285px;
		bottom: 0;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		max-width: 1444px;
	}
	#left_size h1 {
		font-size: 2em;
	}
	.tarfia_list {
		font-size: 15pt !important;
	}
	#tarifas_text_wrapper {
		height: 100%;
		max-width: 1440px;
		max-height: 830px;
	}
	#tarifas_text_wrapper h1 {
		font-size: 30pt;
	}
	#tarifas_text_wrapper h2 {
		font-size: 25pt;
	}
	#tarifas_text_wrapper p {
		font-size: 15pt;
	}
	#form_table {
		margin-top: 5%;
	}
	.form_label {
		font-size: 13pt;
	}
	.table_section {
		font-size: 15pt;
	}
	#submit_btn {
		margin-top: 5px;
		margin-right: 200px;
	}
}

.modal_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	background: rgba(0, 0, 0, 0.6);
	color: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	display: none;
	z-index: 500;
}

#video_container {
	display: none;
}

.custom_close_buttom {
	width: 31px;
	height: 30px;
	background-image: url(../img/close_btn_vid.png);
	position: absolute;
	cursor: pointer;
	z-index: 600;
}

#contact_form_wrapper {
	background-color: white;
	width: 40%;
	height: 55%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 1%;
	max-width: 450px;
}

.register_side {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	height: 85%;
	width: 85%;
	
	
}

/* pie */
.m-navigation-footer{
	background:#ccc !important;
	color:#000;
	font-size:16px;
	text-align:center;
}
/* */

/*************** Large screens **********************/
@media only screen and (min-width : 1824px) {
	#tarifas_text_wrapper h1 {
		font-size: 36pt;
	}
	#tarifas_text_wrapper h2 {
		font-size: 35pt;
	}
	.tarfia_list {
		font-size: 20pt !important;
	}
	#tarifas_text_wrapper p {
		font-size: 20pt;
	}
	#form_table {
		margin-top: 10%;
	}
	.form_label {
		color: gray;
		font-family: Aller;
		font-size: 18pt;
	}
	#form_table {
		margin-left: auto;
		margin-right: auto;
	}
	.table_section {
		font-size: 20pt;
	}
	#submit_btn {
		margin-top: 15px;
		height: 40px !important;
	}
	
	#right_size {
		
		top: 0%;
	}}

/************ SMALL COMPUTER SCREEN  ***************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.download_app {
		top: 25%;
	}
	.download_app.appIOS {
		left: 8%;
	}
	.download_app.appAndroid {
		right: 10%;
	}
	#ios_example {
		left: 5%
	}
	#android_example {
		right: 5% !important;
	}
	select, input {
		width: 85%
	}
	#d2 div {
		left: 10%;
	}
	#d3 img {
		left: 10%;
	}
	#d3 div {
		left: auto;
		right: 5%;
		width: 45%;
	}
	#d4 div {
		width: 40%;
		left: 5%;
	}

	/* STYLES GO HERE */
	#text_d5_wrapper img {
		margin-left: 15%;
		padding-bottom: 1em;
	}
	#d5 .download_app.appIOS {
		left: 4%;
	}
	#tarifas_text_wrapper p {
		font-size: 15pt;
		-webkit-margin-before: 0.5em;
		-webkit-margin-after: 0.5em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	/*.quote{
		bottom: 1.75em;
	}*/
	#t_w {
		width: 50%;
		height: 95%;
		top: 5%;
	}
	#contact_form_wrapper {
		height: 60%;
	}
}

/****************iPad in landscape ********************************/
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : landscape) {
	#local_publish {
		font-size: 1.5em;
	}
	select, input {
		width: 85%
	}
	.download_app {
		top: 20%;
	}
	.download_app.appIOS {
		left: 5%;
	}
	.download_app.appAndroid {
		right: 5%;
	}
	#ios_example {
		left: 5%
	}
	#android_example {
		right: 5% !important;
	}

	/* STYLES GO HERE */
	.logo_wrapper {
		height: 9em;
		width: 9em;
	}
	#ios_example {
		width: initial;
		height: 70%;
		/*left: 17%;*/
	}
	#android_example {
		width: initial;
		height: 70%;
		right: 5% !important;
	}
	#nav_section {
		top: 1%;
	}
	#tarifas_text_wrapper h1 {
		font-size: 30pt;
	}
	#tarifas_text_wrapper h2 {
		font-size: 25pt;
	}
	.tarfia_list {
		font-size: 15pt !important;
	}
	#center_land h1 {
		font-size: 1.5em;
	}
	#info h1 {
		font-size: 1.5em;
	}
	.table_section {
		font-size: 15pt;
	}
	#d2 div {
		left: 10%;
	}
	#d3 img {
		left: 10%;
	}
	#d3 div {
		left: auto;
		right: 5%;
		width: 45%;
	}
	#d4 div {
		width: 40%;
		left: 5%;
	}
	#text_d5_wrapper img {
		margin-left: 15%;
		padding-bottom: 1em;
	}
	#d5 .download_app.appIOS {
		left: 4%;
	}
	#left_size h1 {
		font-size: 2em;
	}
	#left_size img {
		width: 350px;
	}
	#right_size {
		top: 3%;
	}
	#register_side_izq {
		height: 70%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : landscape)and
	(-webkit-min-device-pixel-ratio: 2) {
	#ios_example {
		width: 12.5em;
		/*left: 17%;*/
	}
	#android_example {
		width: 15.5em;
		right: 5% !important;
	}
}

/****************iPad in portrait ********************************/
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : portrait) {
	h1 {
		font-size: 2.5em !important;
	}
	#local_publish {
		line-height: 70px !important;
		margin-top: 5px;
	}
	#mob_container {
		max-height: 1024px;
	}
	.download_app {
		top: 25%;
	}
	.download_app.appIOS {
		left: 5%;
		top: 45%;
	}
	.download_app.appAndroid {
		right: 5%;
		top: 45%;
	}
	#ios_example {
		left: 1.5%;
		width: 25%;
		height: 50%;
	}
	#android_example {
		right: 1.5%;
		width: 30%;
		height: 55%;
	}
	#tarifas_text_wrapper #devices_wrapper #ios_example {
		width: 50%
	}
	#tarifas_text_wrapper #devices_wrapper #android_example {
		top: 3em;
		left: 10%;
		width: 55%;
	}
	select, input {
		width: 85%
	}
	#nav_section {
		top: 1%;
	}
	#d1 img {
		margin-left: 15%;
	}
	.text_v {
		font-size: 2em;
	}
	.text_g {
		font-size: 1.75em;
	}
	#d2 div {
		left: 10%;
	}
	#d3 img {
		left: 2%;
	}
	#d3 div {
		left: auto;
		right: 5%;
		width: 45%;
	}
	#d4 div {
		width: 40%;
		left: 5%;
	}
	#d4 img {
		width: 375px;
	}
	#text_d5_wrapper {
		width: 45%;
	}

	/* STYLES GO HERE */
	#text_d5_wrapper img {
		margin-left: 15%;
		padding-bottom: 1em;
	}
	#d5 .download_app.appIOS {
		left: 4%;
	}

	/****AQUI METO LO DE POR QUE TEKILAS**/
	#t_w {
		width: 50%;
		height: 90%;
	}
	.tarfia_list {
		font-size: 1.75em !important;
		padding-right: 0.25em;
	}
	#contact_form_wrapper {
		width: 60%;
		height: 44%;
	}
	#left_size h1 {
		font-size: 2em;
	}
	#left_size img {
		width: 350px;
	}
	.register_side {
		height: 70%;
	}
	#register_side_izq {
		height: 52%;
	}
}

/* Displays/Screens (e.g. MacBook @ 1280x800) -------------- */
@media only screen and (min-width: 1250px) and (max-width: 1409px) {
	/* YOUR STYLES */
	#local_publish {
		font-size: 1.8em;
		line-height: 30px !important;
		margin-top: 10px;
	}
	#contact_form_wrapper {
		height: 65%;
	}
	.logo_wrapper {
		height: 9em;
		width: 9em;
		position: relative;
		margin: auto;
		margin-top: 1.5em;
		/*background-color: rgba(0, 0, 0, 0);*/
		z-index: 8;
	}
	.logo_wrapper img {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	#t_w {
		width: 50%;
		height: 95%;
		top: 5%;
	}
	#tarifas_text_wrapper h1 {
		font-size: 2.5em;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
	}
	#d2 div {
		left: 10%;
	}
	#d3 img {
		left: 2%;
	}
	#d3 div {
		left: auto;
		right: 5%;
		width: 45%;
	}
	#d4 div {
		width: 40%;
		left: 5%;
	}
	#d4 img {
		width: 375px;
	}
	#center_land h1 {
		font-size: 2em;
	}
	#left_size h1 {
		font-size: 2em;
	}
	#left_size img {
		width: 350px;
	}
	#register_side_izq {
		height: 85%;
	}
	.register_side {
		height: auto;
	}
	.table_content {
		margin-top: 0.3em;
	}
	#right_size input {
		height: 1.75em;
	}
	#right_size select {
		height: 1.75em;
	}
}

@media only screen and (max-height: 510px) {
	.wrapper {
		overflow-y: scroll;
	}
	#contact_form_wrapper {
		height: 80%
	}
	.android_example, .ios_example{display:none;}
}

.m-navigation-footer a:hover{text-decoration:underline;}

.flag_container{
    top: 9px;
    right:9px;
    position: absolute;
    width: 30%;
    z-index: 10;
    min-width: 125px;
    padding: 10px;
    background: #fff;
    color: #000;
   -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Aller;
    font-weight: bold;
}

@media (max-width:990px){
	.download_app{font-size:30px;}
}